body {
    font-family: Mulish;

    .navigation-bar {
        background-color: #1F1F1F;

        .container-fluid {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            font-family: Mulish;
            height: 50px;

            .logo {}

            .nav-links {
                font-family: Mulish;
                display: flex;
                flex-direction: row;
                width: 270px;
                font-size: 10px;
                justify-content: space-between;
            }
        }
    }
}